pykernel
langchain
collection
openai
faiss-cpu
tiktoken
rapidocr-onnxruntime
dotenv
langchain-community
langchain-text-splitters
langchain-openai
langchain-core
weaviate-client
langchain-weaviate
pypdf
sentence-transformers
langchain-huggingface
huggingface-hub
haystack-ai
datasets